# Глобальные настройки
global:
  environment: development

# Настройки приложения
app:
  name: transcriber-app
  image:
    repository: stepanlem/transcriber-app
    tag: cpu
    pullPolicy: IfNotPresent
  replicaCount: 1
  resources:
    requests:
      cpu: 500m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  service:
    type: LoadBalancer
    port: 80
    targetPort: 8000
  ingress:
    enabled: true
    host: transcriber-dev.local
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /
  livenessProbe:
    path: /health
    initialDelaySeconds: 15
    periodSeconds: 20
  readinessProbe:
    path: /health
    initialDelaySeconds: 5
    periodSeconds: 10

# Настройки PostgreSQL
postgresql:
  enabled: true
  image:
    repository: postgres
    tag: latest
    pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 250m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  persistence:
    enabled: true
    size: 1Gi
  service:
    type: ClusterIP
    port: 5432
  secret:
    # Эти значения должны быть установлены при установке чарта
    # или через values файл
    dbuser: "postgres"
    dbpassword: "admin"
    dbhost: "db"
    dbport: "5432"
    database: "whisperdb" 
    secretkey: "supersecret"